.container {
    background-color: #003580;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
    padding: 50px;

}

.title {
    font-size: 36px;
    margin-bottom: 30px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    font-size: 24px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.primary {
    background-color: #fff;
    color: #146c94;
}

.secondary {
    background-color: #fff;
    color: #146c94;

}

.button:hover {
    background-color: #0b445e;
    color: #fff;
}

.secondary:hover {
    background-color: #146c94;
    color: #fff;
}

@media (max-width: 600px) {
    .buttonContainer {
        flex-direction: column;
    }

    .button {
        width: 100%;
    }
}